<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GPX/src/com/lmco/adp/gpx/utility/Utility_PlotElevation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.lmco.adp.gpx.utility.Utility_PlotElevation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="500&#13;&#10;&quot;data\AT\Appalacian Trail (NC_GA Border to Amicalola SP).gpx&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GPX"/>
</launchConfiguration>
